<% provide :page_title, 'Редактировать' %>
<% currently_at 'Пользователи' %>

<h1>Редактирование</h1>

<%= render 'form', user: @user %>

<%= link_to 'Профиль', @user %> |
<%= link_to 'Назад', users_path %>
