<% provide :page_title, 'Пользователи' %>
<% currently_at 'Пользователи' %>

<h1>Пользователи</h1><br/>

<table>
  <thead>
    <tr>
      <th class="col-3">Имя пользователя</th>
      <th class="col">Хэшированный пароль</th>    <%# для того, чтобы убедиться, что пароль нельзя украсть %>
      <th class="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.password_digest %></td>
        <td><%= link_to 'Посмотреть', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button onClick='location.href="/users/new"' type="button" class="btn btn-outline-primary me-2">Зарегистрировать пользователя</button>
<%# link_to 'Зарегистрировать пользователя', new_user_path %>
