<%= provide :errors do %>  
  <% if object.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% object.errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<% end %>