<% provide :page_title, 'Ввод' %>
<% currently_at 'Главная' %>

<h1>Palindromes</h1>
<p>     Определить количество неотрицательных целых чисел ≤ n (n
        вводится с клавиатуры), квадрат которых является палиндромом. Например:
        26^2 = 676.
</p>

<%= form_tag("/palindromes/view", :method => "get") do %> 

    <%= label_tag :n, "Введите n: " %> 
    <%= text_field_tag :n, '', id: 'input_number', required: true %> <br/><br/>        <%#(:n, default_value)%>

    <%= button_tag "Найти палиндромы", type: 'submit', name: nil, id: 'btn_commit', class: 'btn btn-primary' %>
<% end %>